
<br>
<h2>Train Arrivials into: <%= @station["label"] %></h2>
<div class="container trainboard">
	<% @traindata.each do |train| %>
		<div class="row singletrain">
			<div class="row singletraininfo">
				<div class="small-2 medium-2 large-2 columns traintime"><%= train['sta'] %></div>
				<div class="small-8 medium-8 large-8 columns traindestination"><%= train['origin'].first['locationName'] %></div>
				<div class="small-2 medium-2 large-2 columns trainplatform"><%= train['platform'] %></div>
			</div>
			<div class="row train-display">
				<%= generate_svg_train_view train['carriages'] %>	
			</div>
		</div>
	<% end %>
</div>
