<div class="row">
  <div class="large-12 columns">
    <div class="panel radius">
      <div class="row">
        <div class="large-6 medium-6 small-7 pull-right">
          <p class="pull-right">Next train to:SHF<%= @next_train %></p>
          <p class="pull-right">Platform:<span>8<%= @station_platform %></span></p>
          <p class="pull-right">Arrives at:<span>11:48 AM<%= @train_arrival_time %></span></p>
        </div>
      </div>
      <% if @delayed_in_minutes %>
          <a href="#" class="medium alert round button delay-status">Delayed by: <%=@delayed_in_minutes %> minutes</a>
      <% else %>
          <a href="#" class="medium success round button delay-status">ON TIME!</a>
      <% end %>
    </div>
    <% @rad = ['alert', 'success', 'amber']%>
    <div class="panel radius">
      <div class="row">
        <div class="large-4 medium-3 medium-push-1 small-3 small-push-1 columns">
          <ul>
            <% 7.times do |train_carriage| %>
              <% klass = 'last' if train_carriage == 6 %>
              <li class="carriage medium button round <%= @rad[train_carriage.modulo 3] %> <%= klass %>"></li>
            <% end %>
          </ul>
        </div>
        <div class="large-4 medium-3 medium-pull-1 small-3 small-pull-1 columns">
          <% 7.times do |train_carriage| %>
            <% klass = 'first' if train_carriage == 0 %>
            <li class="carriage medium button round <%= @rad[(train_carriage + 1).modulo 3] %> <%= klass %>"></li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>